<app-cheat-sheet [cheatSheet]="cheatSheet">
  <p>
    <strong><a href="https://wiki.factorio.com/Inserter_capacity_bonus_(research)" target="_blank" rel="noopener">机械臂容量研究</a></strong
    >用于增加机械臂的堆叠大小。
  </p>
  <p>
    从堆叠到堆叠（箱子、车厢、机器）移动时，加成更有效，比从堆叠到传送带或从传送带到堆叠移动更有效，因为机械臂必须等待从传送带收集完整堆叠，但可以立即从容器抓取堆叠。
  </p>

  <table class="table table-sm table-hover fixed-width">
    <caption class="text-center">
      抓取物品数
    </caption>
    <thead class="text-center">
      <tr>
        <th>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Lab)"></app-factorio-icon>
        </th>
        <th>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_BurnerInserter)"></app-factorio-icon>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Inserter)"></app-factorio-icon>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_LongHandedInserter)"></app-factorio-icon>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_FastInserter)"></app-factorio-icon>
        </th>
        <th>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_BulkInserter)"></app-factorio-icon>
        </th>
        <th>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_StackInserter)" [spaceAge]="true"></app-factorio-icon>
        </th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let item of sheetData?.bonuses; let idx = index">
        <td>
          <app-factorio-icon
            class="bg-factorio-red-muted"
            *ngIf="idx === 0"
            [icon]="dataService.getFactorioIcon(FactorioIcons.Technology_InserterCapacity)"
          ></app-factorio-icon>
          <app-factorio-icon
            class="bg-factorio-green"
            *ngIf="idx > 0"
            [icon]="dataService.getFactorioIcon(FactorioIcons.Technology_InserterCapacity, item?.tech)"
          ></app-factorio-icon>
        </td>
        <td>
          <strong>{{ item?.nonStackItems }} </strong>
          <span *ngIf="item.nonStackBonus">({{ item.nonStackBonus }})</span>
        </td>
        <td>
          <strong>{{ item?.bulkItems }} </strong>
          <span *ngIf="item.bulkBonus">({{ item.bulkBonus }})</span>
        </td>
        <td>
          <strong>{{ item?.stackItems }} </strong>
          <span *ngIf="item.stackBonus">({{ item.stackBonus }})</span>
        </td>
      </tr>
    </tbody>
  </table>
</app-cheat-sheet>
