<app-cheat-sheet [cheatSheet]="cheatSheet">
  <p class="">
    <strong>通用公式：</strong>
    <kbd>所需机器数量 = 传送带吞吐量 / 材料消耗速率</kbd>
  </p>
  <div class="row align-items-center">
    <div class="col-12 col-md-6">
      <table class="table table-sm table-hover table-bordered">
        <thead class="text-center">
          <tr>
            <th colspan="2">所需机器数量<a [routerLink]="[]" fragment="note_building_processing">^</a>以</th>
            <th colspan="4">清空输入传送带</th>
          </tr>
          <tr>
            <th>使用</th>
            <th>输入</th>
            <th>
              <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_TransportBelt)"></app-factorio-icon>
            </th>
            <th>
              <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_FastTransportBelt)"></app-factorio-icon>
            </th>
            <th>
              <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ExpressTransportBelt)"></app-factorio-icon>
            </th>
            <th>
              <app-factorio-icon
                [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_TurboTransportBelt)"
                [spaceAge]="true"
              ></app-factorio-icon>
            </th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let item of sheetData?.beltEmpty; let idx = index">
            <td>
              <app-factorio-icon
                *ngFor="let iconId of item?.processorIconId"
                [icon]="dataService.getFactorioIcon(iconId)"
              ></app-factorio-icon>
            </td>
            <td *ngIf="idx % 2 === 0" rowspan="2">
              <app-factorio-icon
                *ngFor="let iconId of item?.materialIconId"
                [icon]="dataService.getFactorioIcon(iconId)"
              ></app-factorio-icon>
            </td>
            <td class="bg-input" title="Machines">{{ item?.beltYellow }}</td>
            <td class="bg-input" title="Machines">{{ item?.beltRed }}</td>
            <td class="bg-input" title="Machines">{{ item?.beltBlue }}</td>
            <td class="bg-input" title="Machines">{{ item?.beltGreen }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-12 col-md-6">
      <table class="table table-sm table-hover table-bordered">
        <thead class="text-center">
          <tr>
            <th colspan="2">所需机器数量<a [routerLink]="[]" fragment="note_building_processing">^</a>以</th>
            <th colspan="4">填满输出传送带</th>
          </tr>
          <tr>
            <th>使用</th>
            <th>输出</th>
            <th>
              <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_TransportBelt)"></app-factorio-icon>
            </th>
            <th>
              <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_FastTransportBelt)"></app-factorio-icon>
            </th>
            <th>
              <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ExpressTransportBelt)"></app-factorio-icon>
            </th>
            <th>
              <app-factorio-icon
                [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_TurboTransportBelt)"
                [spaceAge]="true"
              ></app-factorio-icon>
            </th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let item of sheetData?.beltFill; let idx = index">
            <td>
              <app-factorio-icon
                *ngFor="let iconId of item?.processorIconId"
                [icon]="dataService.getFactorioIcon(iconId)"
              ></app-factorio-icon>
            </td>
            <td *ngIf="idx % 2 === 0" rowspan="2">
              <app-factorio-icon
                *ngFor="let iconId of item?.materialIconId"
                [icon]="dataService.getFactorioIcon(iconId)"
              ></app-factorio-icon>
            </td>
            <td class="bg-output" title="Machines">{{ item?.beltYellow }}</td>
            <td class="bg-output" title="Machines">{{ item?.beltRed }}</td>
            <td class="bg-output" title="Machines">{{ item?.beltBlue }}</td>
            <td class="bg-output" title="Machines">{{ item?.beltGreen }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <p class="text-muted" id="note_building_processing">^ 机器数量向上取整到最接近的整数。</p>

  <hr />

  <h4 class="card-title" id="smelting-facts">熔炼知识</h4>
  <div class="row align-items-center">
    <div class="col-12 col-lg-7 col-print-7">
      <ul>
        <li>
          熔炼铁、铜和石头各需基础时间 3.2 秒。
          <br />
          熔炼钢需基础时间 16 秒。
        </li>
        <li>
          <a href="https://wiki.factorio.com/Stone_furnace" target="_blank" rel="noopener">石炉</a>的制作速度为 1。
          <br />
          <a href="https://wiki.factorio.com/Steel_furnace" target="_blank" rel="noopener">钢炉</a>和<a
            href="https://wiki.factorio.com/Electric_furnace"
            target="_blank"
            rel="noopener"
            >电炉</a
          >的制作速度都为 2。
        </li>
        <li>虽然铁和钢的熔炉比例是 1:1，但钢的制作时间更长，因此需要更多熔炉来填满传送带。</li>
        <li>石炉和钢炉消耗 0.0225 煤/秒。</li>
        <li>
          常见的<a href="https://steamcommunity.com/sharedfiles/filedetails/?id=862972621" target="_blank" rel="noopener">熔炉布局</a>。
        </li>
      </ul>
    </div>

    <div class="col-12 col-lg-5 col-print-5">
      <div class="text-center">
        <a
          class="text-center"
          href="https://kirkmcdonald.github.io/calc.html#data=2-0-55&rate=s&buildings=stone-furnace&items=steel-plate:f:1"
          target="_blank"
          rel="noopener"
        >
          <app-ratio
            [ratios]="[
              {
                machineIconId: FactorioIcons.Icons_StoneFurnace,
                productIconId: FactorioIcons.Icons_SteelPlate,
                count: 1,
                rateSeconds: 0.063
              },
              {
                machineIconId: FactorioIcons.Icons_StoneFurnace,
                productIconId: FactorioIcons.Icons_IronPlate,
                count: 1,
                rateSeconds: 0.313
              }
            ]"
          ></app-ratio>
        </a>
      </div>

      <br />
      <br />

      <table class="table table-sm fixed-width">
        <caption class="text-center">
          一条煤传送带可供应的熔炉数量
        </caption>

        <thead class="text-center">
          <tr>
            <ng-container *ngFor="let col of coalFurnaceTableColumns">
              <th>
                <app-factorio-icon
                  [icon]="dataService.getFactorioIcon(col.icon?.iconId)"
                  [spaceAge]="col.icon?.spaceAge"
                ></app-factorio-icon>
              </th>
            </ng-container>
          </tr>
        </thead>

        <tbody class="text-center">
          <ng-container *ngFor="let row of coalFurnaceTableRows">
            <tr>
              <td>
                <ng-container *ngFor="let furnace of row.furnaceTypes">
                  <app-factorio-icon [icon]="dataService.getFactorioIcon(furnace.iconId)" [spaceAge]="furnace.spaceAge"></app-factorio-icon>
                </ng-container>
              </td>

              <ng-container *ngFor="let furnaceCount of row.furnaceCounts">
                <td>{{ furnaceCount | number }}</td>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <h4 class="card-title" id="uranium-facts">铀知识</h4>
  <div class="row align-items-center">
    <div class="col-12 col-lg-7 col-print-7">
      <ul>
        <li>
          <a href="https://wiki.factorio.com/Uranium_processing" target="_blank" rel="noopener">铀处理</a>有 99.3% 的概率从 10 个矿产生 1
          个铀-238，有 0.7% 的概率产生 1 个铀-235。
        </li>
        <li>
          建议积攒 40 个 U-235 以启动<a href="https://wiki.factorio.com/Kovarex_enrichment_process" target="_blank" rel="noopener"
            >科瓦雷克斯增殖工艺</a
          >，从而加快 U-235 的生产。
        </li>
      </ul>
    </div>

    <div class="col-12 col-lg-5 col-print-5">
      <p class="text-center">
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_UraniumOre, 10000)"></app-factorio-icon>
        <i class="fas fa-long-arrow-alt-right text-muted"></i>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Uranium235, 7)"></app-factorio-icon>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Uranium238, 993)"></app-factorio-icon>
        <a [routerLink]="[]" fragment="note_uranium_processing_ratio">**</a>
      </p>
      <p class="text-center">
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Uranium235, 40)"></app-factorio-icon>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Uranium238, 5)"></app-factorio-icon>
        <i class="fas fa-long-arrow-alt-right text-muted"></i>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Uranium235, 41)"></app-factorio-icon>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Uranium238, 2)"></app-factorio-icon>
      </p>
    </div>
  </div>

  <hr />
  <p id="note_uranium_processing_ratio">
    <small>
      ** 10000 而非 1000 个矿，因为<a href="https://wiki.factorio.com/Uranium_processing" target="_blank" rel="noopener">铀处理</a>需要 10
      个矿平均产生 1 个产品。
    </small>
  </p>
</app-cheat-sheet>
