<app-cheat-sheet [cheatSheet]="cheatSheet">
  <div class="row">
    <div class="col-12 col-lg-8">
      <ul>
        <li>
          <a href="https://wiki.factorio.com/Fluid_wagon" target="_blank" rel="noopener">液罐车厢</a>每个至少需要 1 个泵，最多 3 个泵。
        </li>
        <li>如果液罐车厢上可以激活超过 3 个泵，只有 3 个会"锁定"并使用，其余泵保持不活动。</li>
        <li>
          <a href="https://wiki.factorio.com/Pump#Throughput" target="_blank" rel="noopener">泵</a>和储液罐的最大吞吐量为
          {{ sheetData?.pumpRate | number }}
          流体/秒。
        </li>
        <li>管道在需要泵之前限制在 {{ sheetData?.pipelineLimit }}x{{ sheetData?.pipelineLimit }} 的区域内</li>
        <li class="line-through">使用地下管道比使用相同距离的直管道计为更少的实体。</li>
        <li>
          液罐车厢可以容纳
          {{ sheetData?.fluidWagonSize | number }}
          单位的流体，相当于
          {{ sheetData ? sheetData.fluidWagonSize / sheetData.storageTankSize : '???' }}
          个<a href="https://wiki.factorio.com/Storage_tank" target="_blank" rel="noopener">储液罐</a>。

          <div class="row">
            <div class="col-6 text-center">
              <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_FluidWagon, 1)"></app-factorio-icon>
              <app-factorio-icon
                [icon]="
                  dataService.getFactorioIcon(
                    FactorioIcons.Icons_StorageTank,
                    sheetData ? sheetData.fluidWagonSize / sheetData.storageTankSize : ''
                  )
                "
              ></app-factorio-icon>
            </div>
            <div class="col-6 text-center">
              <app-factorio-icon
                [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Pipe, sheetData?.pipelineLimit + 'x' + sheetData?.pipelineLimit)"
              ></app-factorio-icon>
              <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Pump, 1)"></app-factorio-icon>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 col-lg-4 text-center">
      <table class="table table-sm table-hover fixed-width" style="max-width: 300px">
        <caption class="text-center">
          直接连接（无管道）
        </caption>
        <thead class="text-center">
          <tr>
            <th>
              <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Pump)"></app-factorio-icon>
            </th>
            <th>{{ sheetData?.fluidWagonSize | number }} 流体的装载和卸载时间</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let item of theoreticalTransferTimes">
            <td>
              {{ item?.pumps }}
            </td>
            <td>{{ item?.transferTime | number }}s</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br />
  <hr />

  <div class="row align-items-center justify-content-around">
    <div class="col text-center col-print-3">
      <span
        ><strong>液罐车-泵对齐方式 <a [routerLink]="[]" fragment="note-alignment">*</a></strong></span
      ><br />
      <video
        class="img-fluid rounded"
        autoplay
        muted
        loop
        src="{{ APP_INFO.links.getLocalImagePath('fluid-wagon-alignment.webm') }}"
        alt="Tanker-Pump Alignment"
        title="Tanker-Pump Alignment"
      ></video>
      <p id="note-alignment">*火车在火车站放置时会自动对齐到位置。</p>
    </div>
  </div>

  <hr class="print-page-break" />
</app-cheat-sheet>
