<app-cheat-sheet-template [iconId]="cheatSheetIconId" [title]="cheatSheetTitle">
  <div class="row align-items-center">
    <p class="col-12 col-sm-4 text-center">
      <span class="text-muted">
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Nauvis)"></app-factorio-icon>
        <a href="https://wiki.factorio.com/Power_production#Solar_panels_and_accumulators" target="_blank" rel="noopener">太阳能发电</a
        >（可用）
        <a
          href="https://www.wolframalpha.com/input/?i=(+(0.5+%2B+0.2)+*+(0.1+%2B+0.2+*+(0.5+%2B+0.2)+%2F+1.0)+%2F+1.0)+*+(25000+%2F+60)+*+(60+%2F+5000)"
          target="_blank"
          rel="noopener"
        >
          建造比例
        </a>
      </span>

      <br />

      <ng-container *ngFor="let item of POWER_SOLAR_DATA.solarBuildRatio.solarRatio">
        <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
      </ng-container>

      <i class="fas fa-long-arrow-alt-right text-muted"></i>
      <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i>
      <sub style="vertical-align: baseline">
        <strong>{{ POWER_SOLAR_DATA.solarBuildRatio.solarRatioPowerMw }}MW</strong>
      </sub>
    </p>

    <p class="col-12 col-sm-4 text-center">
      <span class="text-muted"> 太阳能总功率到可用功率（行星表面） </span>
      <br />
      <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SolarPanel, '10MW')"></app-factorio-icon>
      <i class="fas fa-long-arrow-alt-right text-muted"></i>
      <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i>
      <sub style="vertical-align: baseline">
        <strong>{{ 10 * POWER_SOLAR_DATA.solarPowerEffectiveness }}MW</strong>
      </sub>
    </p>
  </div>

  <hr />

  <div class="row align-items-center">
    <div class="col-12 col-xl-8">
      <ul>
        <li>
          <a href="https://wiki.factorio.com/Solar_panel" target="_blank" rel="noopener">太阳能板</a>
          仅在白天提供能量。 <br />
          （每个太阳能板最大 {{ POWER_SOLAR_DATA.solarEnergyMaxKw }}KW，平均
          {{ POWER_SOLAR_DATA.solarEnergyAvgKw }}KW，"可用"功率与总功率的比例为 {{ POWER_SOLAR_DATA.solarPowerEffectiveness | percent }}）
        </li>
        <li>
          在行星表面（50% 白天和 10% 夜晚），价值 10MW 的太阳能板可以为 {{ 10 * POWER_SOLAR_DATA.solarPowerEffectiveness }}MW 的工厂供电。
        </li>
        <li>
          白天，多余的电力储存在<a href="https://wiki.factorio.com/Accumulator" target="_blank" rel="noopener">蓄电池</a
          >中；夜间，蓄电池释放电量为工厂供电。
        </li>
        <li>对于诺维斯星；<kbd>蓄电池数量</kbd> = <kbd>太阳能板数量</kbd> * <kbd>0.84</kbd></li>
        <li>
          按需放置：
          <ul>
            <li>放置蓄电池，直到它们能让工厂在夜间保持供电。</li>
            <li>额外添加一些蓄电池，以应对突发消耗，例如大量激光炮射击。</li>
            <li>然后放置太阳能板，直到这些蓄电池在白天结束时完全充满电。</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-12 col-xl-4">
      <div class="justify-content-center d-flex flex-column" *ngIf="selectedPlanetRatio.planetRatioData.effectiveSolarPowerGroundKw">
        <!--TODO: Mod Calculator to use Planet Ratios [solarAvgMw]="selectedPlanetRatio.planetRatioData.effectiveSolarPowerGroundKw / 1000" -->
        <span class="text-muted text-center">
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Nauvis)"></app-factorio-icon>
          诺维斯太阳能计算器
        </span>
        <app-calculator-solar
          [solarPowerEffectiveness]="POWER_SOLAR_DATA.solarBuildRatio.solarRatioPowerMw"
          [solarAvgMw]="POWER_SOLAR_DATA.solarEnergyAvgKw / 1000"
        ></app-calculator-solar>
      </div>
    </div>
  </div>

  <hr />

  <div class="d-flex flex-row align-items-center justify-content-center">
    <div class="input-group d-none-print" [style.width]="'auto'">
      <span class="input-group-addon">行星</span>
      <div class="form-select" ngbDropdown>
        <!-- Dropdown Button -->
        <button class="btn" id="dropdownBasic1" type="button" ngbDropdownToggle>
          <app-factorio-icon *ngIf="selectedPlanet?.iconId" [icon]="dataService.getFactorioIcon(selectedPlanet.iconId)"></app-factorio-icon>
          {{ selectedPlanet.display || 'Select a Planet' }}
        </button>

        <!-- Dropdown Menu -->
        <div class="form-select" [style.width]="'auto'" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngFor="let planetInfo of PLANETS_INFO_OPTIONS" (click)="selectPlanet(planetInfo)" ngbDropdownItem>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(planetInfo.iconId)"></app-factorio-icon>
            {{ planetInfo.display }}
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="input-group d-none-print fixed-width">
        <span class="input-group-addon">Solar Panel Quality</span>
        <select class="form-select">
          <option *ngFor="let quality of QUALITY_OPTIONS">
            <app-factorio-icon [icon]="dataService.getFactorioIcon(quality.icon)"></app-factorio-icon>
            {{ quality.display }}
          </option>
        </select>
      </div> -->
  </div>

  <br />

  <div>
    <div class="row align-items-center">
      <p class="col-12 col-sm-4 text-center" *ngIf="selectedPlanetRatio.planetRatioData.effectiveSolarPowerGroundKw">
        <span class="text-muted">地面有效功率</span>
        <br />
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SolarPanel, 1)"></app-factorio-icon>

        <i class="fas fa-long-arrow-alt-right text-muted"></i>
        <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i>
        <sub style="vertical-align: baseline">
          <strong>{{ selectedPlanetRatio.planetRatioData.effectiveSolarPowerGroundKw | number : '1.0-2' }}KW</strong>
        </sub>
      </p>

      <p class="col-12 col-sm-4 text-center" *ngIf="selectedPlanetRatio.mwRatioGround">
        <span class="text-muted">地面建造比例</span>
        <br />
        <ng-container *ngFor="let item of selectedPlanetRatio.mwRatioGround">
          <app-factorio-icon
            [icon]="dataService.getFactorioIcon(item?.iconId, (item?.count | number : '1.0-2') ?? '-')"
          ></app-factorio-icon>
        </ng-container>

        <i class="fas fa-long-arrow-alt-right text-muted"></i>
        <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i>
        <sub style="vertical-align: baseline">
          <strong>{{ selectedPlanetRatio.mwRatioPower }}MW</strong>
        </sub>
      </p>

      <p class="col-12 col-sm-4 text-center" *ngIf="selectedPlanetRatio.onePanelRatio">
        <span class="text-muted">地面太阳能/蓄电池比例</span>
        <br />
        <ng-container *ngFor="let item of selectedPlanetRatio.onePanelRatio">
          <app-factorio-icon
            [icon]="dataService.getFactorioIcon(item?.iconId, (item?.count | number : '1.0-2') ?? '-')"
          ></app-factorio-icon>
        </ng-container>
      </p>

      <p class="col-12 col-sm-4 text-center" *ngIf="selectedPlanetRatio.planetRatioData.effectiveSolarPowerSpaceKw">
        <span class="text-muted">太空有效功率</span>
        <br />
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SolarPanel, 1)"></app-factorio-icon>

        <i class="fas fa-long-arrow-alt-right text-muted"></i>
        <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i>
        <sub style="vertical-align: baseline">
          <strong>{{ selectedPlanetRatio.planetRatioData.effectiveSolarPowerSpaceKw | number : '1.0-2' }}KW</strong>
        </sub>
      </p>

      <p class="col-12 col-sm-4 text-center" *ngIf="selectedPlanetRatio.mwRatioSpace">
        <span class="text-muted">太空建造比例</span>
        <br />
        <ng-container *ngFor="let item of selectedPlanetRatio.mwRatioSpace">
          <app-factorio-icon
            [icon]="dataService.getFactorioIcon(item?.iconId, (item?.count | number : '1.0-2') ?? '-')"
          ></app-factorio-icon>
        </ng-container>

        <i class="fas fa-long-arrow-alt-right text-muted"></i>
        <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i>
        <sub style="vertical-align: baseline">
          <strong>{{ selectedPlanetRatio.mwRatioPower }}MW</strong>
        </sub>
      </p>
    </div>
  </div>

  <!-- <div>
      <pre>{{ SOLAR_ACCUMULATOR_PLANET_RATIOS | json }}</pre>
    </div> -->

  <hr />

  <small>
    参考资料：
    <ul class="row">
      <li class="col col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let ref of REFERENCES">
        <a [href]="ref.url" target="_blank" rel="noopener noreferrer">{{ ref.text }}</a>
      </li>
    </ul>
  </small>
</app-cheat-sheet-template>
