<app-cheat-sheet-template [iconId]="cheatSheetIconId" [title]="cheatSheetTitle">
  <p class="lead">为模组制作备忘录不是很棒吗？</p>

  你们中的一些人也这么想！
  <br />
  <ul>
    <li *ngFor="let request of MOD_REQUESTS">
      <a href="{{ request.link }}" target="_blank" rel="noopener noreferrer">{{ request.text }}</a>
    </li>
  </ul>

  不幸的是，我对这些大型改造模组没有太多经验，所以我需要你的<strong>帮助</strong>。
  <br />
  框架已经搭建好了，所需的只是更多信息！
  <hr />

  <p>以下是你可以贡献的几种不同方式：</p>
  <ul>
    <li>
      在 GitHub 上提交
      <a href="https://github.com/deniszholob/factorio-cheat-sheet" target="_blank" rel="noopener noreferrer">拉取请求</a>
    </li>
    <li>
      在 GitHub 上创建一个
      <a href="https://github.com/deniszholob/factorio-cheat-sheet/issues" target="_blank" rel="noopener noreferrer">"问题"</a>
      来告诉我你想要添加什么！
    </li>
    <li>在 <a href="https://discord.gg/PkyzXzz" target="_blank" rel="noopener noreferrer">Discord</a> 上联系我</li>
    <li>在 <a href="https://www.reddit.com/user/DDDGamer" target="_blank" rel="noopener noreferrer">Reddit</a> 上联系我</li>
  </ul>
</app-cheat-sheet-template>
