<app-cheat-sheet-template [iconId]="cheatSheetIconId" [title]="cheatSheetTitle">
  <div class="row align-items-center">
    <p class="col-12 col-sm-4 text-center">
      <span class="text-muted">
        蒸汽发电
        <a href="https://wiki.factorio.com/Power_production#Steam_engine_power" target="_blank" rel="noopener">建造比例</a> </span
      ><br />
      <ng-container *ngFor="let item of POWER_STEAM_DATA.steamBuildRatio.steamRatio">
        <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"> </app-factorio-icon>
      </ng-container>
      <i class="fas fa-long-arrow-alt-right text-muted"></i>
      <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i>
      <sub style="vertical-align: baseline"
        ><strong>{{ POWER_STEAM_DATA.steamBuildRatio.steamRatioPowerMw }}MW</strong></sub
      >
    </p>
  </div>

  <hr />

  <ul>
    <li>
      一个<a href="https://wiki.factorio.com/Offshore_pump" target="_blank" rel="noopener">抽水机</a>每秒提供
      {{ POWER_STEAM_DATA.offshorePumpWater }} 单位的水。
    </li>
    <li>
      一个<a href="https://wiki.factorio.com/Boiler" target="_blank" rel="noopener">锅炉</a>每秒最多可将
      {{ POWER_STEAM_DATA.steamBoilerWater }} 单位的水转化为 {{ POWER_STEAM_DATA.steamBoilerSteam }} 单位的蒸汽，提供
      {{ POWER_STEAM_DATA.steamBoilerEnergyMj }}MJ 的蒸汽（165°C）。
    </li>
    <li>一个锅炉每秒消耗 {{ POWER_STEAM_DATA.steamBoilerEnergyMj }}MJ 的燃料。</li>
    <li>
      一个<a href="https://wiki.factorio.com/Steam_engine" target="_blank" rel="noopener">蒸汽机</a>每秒可将
      {{ POWER_STEAM_DATA.steamEngineSteam }} 单位的蒸汽（165°C）转化为 {{ POWER_STEAM_DATA.steamEnginePowerMw }}MW 的电力。
    </li>
    <li>
      {{ POWER_STEAM_DATA.steamBuildRatio.steamRatio[2].count }} 个蒸汽机可提供 {{ POWER_STEAM_DATA.steamBuildRatio.steamRatioPowerMw }}MW
      的电力。
    </li>
  </ul>

  <table class="table table-sm table-hover fixed-width">
    <caption class="text-center">
      <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Boiler)"> </app-factorio-icon>
      一条满载燃料的传送带可供应的锅炉数量
      <br />
      （向上取整到最接近的整数）
    </caption>

    <thead class="text-center">
      <tr>
        <ng-container *ngFor="let col of boilerTableColumns">
          <th>
            <ng-container *ngIf="col">
              <app-factorio-icon [icon]="dataService.getFactorioIcon(col.iconId, col.text)" [spaceAge]="col.spaceAge"> </app-factorio-icon>
            </ng-container>
          </th>
        </ng-container>
      </tr>
    </thead>

    <tbody class="text-center">
      <ng-container *ngFor="let row of boilerTableRows">
        <tr>
          <td>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(row.iconId, row.text)" [spaceAge]="row.spaceAge"> </app-factorio-icon>
          </td>
          <ng-container *ngFor="let boilerCount of row.boilerCounts">
            <td>{{ boilerCount }}</td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <p class="text-center">
    <kbd>燃料传送带可供应的锅炉数 = 传送带吞吐量(物品/秒) * [燃料能量(MJ) / 锅炉能量({{ POWER_STEAM_DATA.steamBoilerEnergyMj }}MJ)]</kbd>
  </p>
</app-cheat-sheet-template>
