<app-cheat-sheet [cheatSheet]="cheatSheet">
  <table class="table table-sm table-hover fixed-width">
    <caption class="text-center">
      <app-blueprint-clipboard [url]="sheetData?.blueprint" style="display: contents"></app-blueprint-clipboard>
      根据货物建议的机车/车站颜色
      <br />
      火车会匹配目的地车站的颜色，除非被覆盖。
      <br />
      另见
      <a href="https://mods.factorio.com/mod/Automatic_Train_Painter" target="_blank" rel="noopener">火车涂装 Mod</a
      >。
      <br />

      <div class="d-none-print">
        <a href="https://www.reddit.com/r/factorio/comments/5e3uuf/what_is_your_color_scheme_for_trains/" target="_blank" rel="noopener">
          定制
        </a>
        <label class="switch">
          <input [(ngModel)]="generated" (ngModelChange)="filter()" type="checkbox" />
          <span class="slider round"></span>
        </label>
        <a
          href="https://www.reddit.com/r/factorio/comments/gvyryk/improved_my_average_icon_colours_sheet_from_the/"
          target="_blank"
          rel="noopener"
        >
          自动生成
        </a>
      </div>
      <div class="input-group d-none-print">
        <input class="form-control" [(ngModel)]="filterString" (ngModelChange)="filter()" type="text" placeholder="筛选" />
      </div>
    </caption>

    <thead class="text-left">
      <tr>
        <th>火车类型</th>
        <th>RGB 字符串</th>
        <th>颜色</th>
      </tr>
    </thead>
    <tbody>
      <caption class="d-flex d-none-print" *ngIf="!displayedData || displayedData.length === 0">
        未找到结果。
      </caption>
      <tr *ngFor="let item of displayedData">
        <td>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(item.icon)"></app-factorio-icon>
          {{ item.type ? item.type : (FACTORIO_ICONS_INFO[item.icon].display | replace) }}
        </td>
        <td>
          {{ item.rgb[0] }}, {{ item.rgb[1] }},
          {{ item.rgb[2] }}
        </td>
        <td>
          <i class="color-circle" [ngStyle]="getColorStyle(item.rgb)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</app-cheat-sheet>
