<app-cheat-sheet [cheatSheet]="cheatSheet">
  <div>
    <p>使用插件可以提升机器的速度、产能或效率。</p>

    <p>如果玩太空时代扩展包，可以使用品质插件从采矿机和机器获得更高品质的产出。</p>

    <table class="table table-hover fixed-width">
      <caption>
        Factorio 中的<a href="https://wiki.factorio.com/Module" target="_blank" rel="noopener noreferrer">插件</a
        >。
      </caption>
      <thead>
        <tr>
          <th scope="col">名称</th>
          <th scope="col">图标</th>
          <th scope="col">优点</th>
          <th scope="col">缺点</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            <a href="https://wiki.factorio.com/Speed_module" target="_blank" rel="noopener noreferrer"> 速度 </a>
          </td>
          <td><app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SpeedModule3)"></app-factorio-icon></td>
          <td>制作更快。</td>
          <td>消耗更多能量。</td>
        </tr>
        <tr>
          <td scope="row">
            <a href="https://wiki.factorio.com/Productivity_module" target="_blank" rel="noopener noreferrer"> 产能 </a>
          </td>
          <td><app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ProductivityModule3)"></app-factorio-icon></td>
          <td>额外产出物品。</td>
          <td>消耗更多能量，减慢制作/采矿速度。</td>
        </tr>
        <tr>
          <td scope="row">
            <a href="https://wiki.factorio.com/Efficiency_module" target="_blank" rel="noopener noreferrer"> 节能 </a>
          </td>
          <td><app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_EfficiencyModule3)"></app-factorio-icon></td>
          <td>消耗更少能量，从而产生更少污染。</td>
          <td>无。</td>
        </tr>
        <tr></tr>
        <tr>
          <td scope="row">
            <a href="https://wiki.factorio.com/Quality_module" target="_blank" rel="noopener noreferrer"> 品质 </a>
          </td>
          <td>
            <app-factorio-icon
              [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_QualityModule3)"
              [spaceAge]="true"
            ></app-factorio-icon>
          </td>
          <td>有机会获得品质产出。</td>
          <td>减慢制作/采矿速度。</td>
        </tr>
      </tbody>
    </table>

    <br />

    <h4>
      <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SpeedModule3)"></app-factorio-icon>
      速度插件使用技巧
    </h4>

    <ul>
      <li>在抽油机或采矿机中放入速度插件可以提高产出。</li>
      <li>
        速度插件可以帮助你设计紧凑型建筑，因为你需要更少的机器。
        <ul>
          <li>紧凑型建筑减少了机器人的行驶距离，提高了它们的效率和吞吐量。</li>
        </ul>
      </li>
      <li>装满速度插件的插件效果分享塔需要大量能量！</li>
    </ul>

    <h4>
      <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ProductivityModule3)"></app-factorio-icon>
      产能插件使用技巧
    </h4>

    <ul>
      <li>使用装有速度插件的插件效果分享塔来补偿产能插件的制作速度惩罚。</li>
      <li>产能插件对于大型后期工厂至关重要，特别是在进行无限科技研究时。</li>
    </ul>

    <h4>
      <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_EfficiencyModule3)"></app-factorio-icon>
      节能插件使用技巧
    </h4>

    <ul>
      <li>在所有采矿机中放入 1 级节能插件可以节省大量能量。</li>
      <li>在太空平台的电炉和组装机中放入节能插件（仅太空时代）。</li>
    </ul>

    <h4>
      <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_QualityModule3)" [spaceAge]="true"></app-factorio-icon>
      品质插件使用技巧
    </h4>

    <p>速度插件会<em>降低</em>输出的品质，因此：</p>
    <ul>
      <li>不要在同一台机器中同时放入品质插件和速度插件。</li>
      <li>不要在装有品质插件的机器附近放置装有速度插件的插件效果分享塔。</li>
    </ul>

    <p>
      阅读
      <a href="https://wiki.factorio.com/Quality" target="_blank" rel="noopener noreferrer">异星工厂百科，品质</a>以获取更多详情。
    </p>
  </div>

  <h4>收益递减</h4>

  <p>
    注意<a href="https://factorio.com/blog/post/fff-409" target="_blank" rel="noopener">插件效果分享塔</a>和<a
      href="https://forums.factorio.com/viewtopic.php?f=5&t=5705"
      target="_blank"
      rel="noopener"
      >产能</a
    >的收益递减。
  </p>

  <p>
    另请参阅
    <a href="https://www.reddit.com/r/factorio/comments/4phc78/math_energy_efficiency_of_productivity3/" target="_blank" rel="noopener"
      >插件效果分享塔布局的能量效率</a
    >。
  </p>

  <hr />
  <h4>计算器</h4>

  <p>此计算器显示要达到所需产出需要多少台机器。</p>

  <div class="row align-items-center">
    <div class="col-12 col-lg-3">
      <div class="eq-container">
        <div class="eq-field bg-neutral">
          <span class="eq-label">所需机器数</span>
          <input class="eq-input" [value]="calcMachines.machinesToFillBelt" type="text" readonly />
        </div>
        <div class="eq-operator">=</div>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="eq-container">
        <div class="eq-field bg-factorio-yellow-muted">
          <span class="eq-label">物品生产速率</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.itemProductionRate"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="1"
          />
        </div>
        <div class="eq-operator">*</div>
        <div class="eq-field bg-factorio-green">
          <span class="eq-label">配方基础制作时间</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.recipeBaseCraftTime"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="0.1"
          />
        </div>
      </div>
      <div class="eq-operator op-divide"></div>
      <div class="eq-container">
        <div class="eq-field bg-factorio-gray">
          <span class="eq-label">每次制作产出数</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.itemsPerCraft"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="1"
          />
        </div>
        <div class="eq-operator">*</div>
        <div class="eq-field bg-factorio-blue">
          <span class="eq-label">机器制作速度</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.machineCraftSpeed"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="0.25"
          />
        </div>
        <div class="eq-operator">*</div>
        <div class="eq-field bg-factorio-red">
          <span class="eq-label">1 + </span>
          <span class="eq-label">(机器产能加成 %</span>
          <input
            class="eq-input"
            [(ngModel)]="calcMachines.machineProductivityBonusPercent"
            (keyup)="calcMachinesToFillBelt()"
            (change)="calcMachinesToFillBelt()"
            type="number"
            step="0.1"
          />
          <span class="eq-label"> / 100)</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 text-center">
    <img
      class="img-fluid rounded"
      loading="lazy"
      src="{{ APP_INFO.links.getLocalImagePath('formula-diagram.webp') }}"
      alt="公式图示"
      title="公式图示"
    />
  </div>
</app-cheat-sheet>
