<app-cheat-sheet-template [iconId]="cheatSheetIconId" [title]="cheatSheetTitle">
  <div>
    <!-- TODO: Remove Disclaimer when section is complete -->
    <p class="lead">
      本章节仍在完善中，你可以通过
      <a href="https://github.com/deniszholob/factorio-cheat-sheet/issues" target="_blank" rel="noopener">GitHub</a> 或
      <a href="https://discord.gg/PkyzXzz" target="_blank" rel="noopener">Discord</a> 添加或建议修改。
    </p>
    <p>由于本章节仍在完善中，深层链接可能随时失效。</p>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="space-age-general-notes">常规注意事项</h4>
    <ul>
      <li>
        你可以使用
        <a href="https://mods.factorio.com/mod/any-planet-start" target="_blank" rel="noopener noreferrer">Any Planet Start mod</a>
        在火山星、雷电星或胶质星开局
      </li>
      <li>
        你可以使用
        <a href="https://mods.factorio.com/mod/visible-planets" target="_blank" rel="noopener noreferrer">Visible Planets mod</a>
        在轨道上显示背景中的星球
      </li>
      <li>
        <a
          href="https://www.reddit.com/r/factorio/comments/1h7v9km/fulgora_beginners_guide_vulcanus_and_gleba_guides/"
          target="_blank"
          rel="noopener noreferrer"
        >
          星球开局指南
        </a>
      </li>
      <li>
        <a
          href="https://www.reddit.com/r/factorio/comments/1gvsi88/how_to_make_common_ingredients_on_every_planet/"
          target="_blank"
          rel="noopener noreferrer"
        >
          在每个星球上制作常见材料
        </a>
      </li>
      <li>你应该装备能负担得起的最好护甲，配备护盾和武器</li>
    </ul>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="quality">品质</h4>

    <ul>
      <li>
        <a href="https://wiki.factorio.com/Quality" target="_blank" rel="noopener noreferrer">Quality Wiki</a>
      </li>
      <li>
        <a href="https://www.factorio.com/blog/post/fff-375" target="_blank" rel="noopener noreferrer">FFF-375</a>
      </li>
      <li>
        <a href="https://www.factorio.com/blog/post/fff-376" target="_blank" rel="noopener noreferrer">FFF-376</a>
      </li>
    </ul>

    <table class="table table-hover fixed-width">
      <caption>
        品质插件品质对比
      </caption>
      <thead>
        <tr>
          <th></th>
          <th>
            <app-factorio-icon
              [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_QualityModule)"
              [spaceAge]="true"
            ></app-factorio-icon>
          </th>
          <th>
            <app-factorio-icon
              [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_QualityModule2)"
              [spaceAge]="true"
            ></app-factorio-icon>
          </th>
          <th>
            <app-factorio-icon
              [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_QualityModule3)"
              [spaceAge]="true"
            ></app-factorio-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let quality of QUALITY_OPTIONS">
          <td>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(QUALITY_DISPLAY[quality])" [spaceAge]="true"></app-factorio-icon>
          </td>
          <td *ngFor="let item of QUALITY_QUALITY_TABLE">{{ item[quality] }}%</td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="space-platforms">
      <a href="https://wiki.factorio.com/Space_platform" target="_blank" rel="noopener noreferrer">太空平台</a>
    </h4>

    <ul>
      <li>高品质机器在太空平台上表现出色，特别是小行星采集器。（更多机械臂，移动更快！）</li>
      <li>你的起始星球（默认为诺维斯）没有危险的小行星，因此那里的静止平台不需要防御。</li>
      <li>
        将小行星采集器连接到电路网络，并设置要抓取的小行星碎片类型和数量限制。这可以防止太空平台被不需要的碎片填满。
        <ul>
          <li>或者你可以用机械臂将不需要的小行星碎片倾倒到太空中。长机械臂可以放置在平台边缘外一格的位置，例如将物品搬运到墙外。</li>
        </ul>
      </li>
      <li>
        内行星（诺维斯、火山星、胶质星和雷电星）之间的航线有中型小行星，会损坏你的太空平台。建造（并供应）防御设施将小行星打碎成安全的小行星碎片。
        <br />

        <p class="col-12 col-sm-4 text-center">
          <a
            href="{{ SPACE_AGE_DATA.yellowAmmoRatio.source }}"
            title="{{ SPACE_AGE_DATA.yellowAmmoRatio.name }}"
            target="_blank"
            rel="noopener"
          >
            <app-ratio [ratios]="SPACE_AGE_DATA.yellowAmmoRatio.ratio"></app-ratio>
            <small class="text-muted" *ngIf="SPACE_AGE_DATA.yellowAmmoRatio.description">
              <br />*{{ SPACE_AGE_DATA.yellowAmmoRatio.description }}
            </small>
          </a>
        </p>
      </li>
      <li>
        你不能直接携带背包中的任何东西。相反，你可以用火箭将物品发送到太空平台，然后将物品投放到你选择的星球上——你不需要着陆平台。
        <ul>
          <li>
            你可以像在地面上一样，使用组装机在太空中制作物品。例如：火箭发射井对于你的火箭来说太重了。但你可以发射制作火箭发射井所需的物品，然后在太空中制作发射井。
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="vulcanus">
      <a href="https://wiki.factorio.com/Vulcanus" target="_blank" rel="noopener noreferrer">Vulcanus</a>
    </h4>

    <h5>星球开局</h5>
    <ul>
      <li>
        推荐携带到火山星以加快开局的物品：

        <ul>
          <li *ngFor="let itemGroup of SPACE_AGE_DATA.bootstrapItemsVulcanus">
            <ng-container *ngFor="let item of itemGroup">
              <app-factorio-icon [icon]="dataService.getFactorioIcon(item.iconId, '>' + item.count)"></app-factorio-icon>
            </ng-container>
          </li>
        </ul>
      </li>
      <li>使用机器人（而不是手工开采）收集岩石，以便在获得矿脉之前轻松获得钨矿</li>
      <li>尽快赶制铸造厂，并将其设置为建造更多铸造厂的建筑；因为它包含内置产能，每制作 2 次你就会得到一个免费的铸造厂！</li>
      <li>你可以使用机械臂将物品倾倒（销毁）到熔岩中（如多余的石头）。</li>
      <li>1 矿石 = 15 熔融流体</li>
    </ul>

    <div class="row align-items-center">
      <p class="col-12 col-sm-4 text-center">
        <span class="text-muted">火山星太阳能比例</span>
        <br />

        <ng-container *ngFor="let item of SPACE_AGE_DATA.vulcanusSolarRatio">
          <app-factorio-icon [icon]="dataService.getFactorioIcon(item?.iconId, item?.count)"></app-factorio-icon>
        </ng-container>

        <span>
          <i class="fas fa-long-arrow-alt-right text-muted"></i>
          <i class="fa fa-bolt fa-2x txt-accent" style="vertical-align: middle" aria-hidden="true"></i>
          <sub style="vertical-align: baseline">
            <strong>
              {{ SPACE_AGE_DATA.vulcanusSolarRatioPower }}
              {{ SPACE_AGE_DATA.solarEnergyUnit }}
            </strong>
          </sub>
        </span>
      </p>
    </div>

    <hr />
    <a href="https://files.catbox.moe/j9vp1h.png" target="_blank" rel="noopener noreferrer">
      <img src="https://files.catbox.moe/j9vp1h.png" alt="火山星指南" title="火山星指南" />
    </a>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="fulgora">
      <a href="https://wiki.factorio.com/Fulgora" target="_blank" rel="noopener noreferrer">雷电星</a>
    </h4>

    <h5>星球开局</h5>
    <ul>
      <li>
        推荐携带到雷电星以加快开局的物品：

        <ul>
          <li *ngFor="let itemGroup of SPACE_AGE_DATA.bootstrapItemsFulgora">
            <ng-container *ngFor="let item of itemGroup">
              <app-factorio-icon [icon]="dataService.getFactorioIcon(item.iconId, '>' + item.count)"></app-factorio-icon>
            </ng-container>
          </li>
        </ul>
      </li>

      <!-- TODO: Explain how to sort the items with bots, and how to recycle unwanted items (things you have too much of!). Also see Issue 430 on GitHub. -->
      <li>雷电星上的小岛拥有最丰富的废料矿床。</li>
      <li>
        回收废料
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Scrap)"></app-factorio-icon>
        会返回许多不同的物品。你可以使用机器人对输出进行分类。
      </li>

      <li>使用从回收中获得的物品来制作起始物品。</li>

      <li>
        在 <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_StorageChest, 12)"></app-factorio-icon>（12
        种从废料回收的物品）+ 1 个通用存储上设置过滤器以开始。
      </li>
      <li>
        使用 <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ActiveProviderChest)"></app-factorio-icon>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Recycler)"></app-factorio-icon>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_FastInserter)"></app-factorio-icon>
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_RequesterChest)"></app-factorio-icon>
        在使用物流网络时处理回收。
      </li>
      <li>
        使用你的第一个电磁工厂
        <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ElectromagneticPlant)"></app-factorio-icon>
        来制作更多电磁工厂。由于电磁工厂具有 50% 的产能加成，每制作第二次你就会得到一个免费的电磁工厂。
      </li>
    </ul>

    <h5>
      <a href="https://wiki.factorio.com/Recycler" target="_blank" rel="noopener noreferrer">回收</a>
    </h5>

    <ul>
      <li>回收物品返回制作该物品所用原料的 25%。</li>
      <li>用不可逆配方（熔炼等）制作的物品，或没有配方的物品（如矿石等），有 25% 的机会被返回。75% 的情况下，物品将被<em>销毁</em>。</li>
      <li>回收一个物品所需的时间是制作该物品所需时间的 1/16（0.0625），乘以回收机的制作速度。</li>
      <li>一个<em>没有插件</em>的回收机消耗 2.5 废料/秒，返回 1.47 物品/秒。</li>
    </ul>

    <h5 class="h5">回收废料</h5>

    <p>废料是雷电星的主要资源。开始时手动回收废料。稍后使用回收机来自动化这个过程。</p>

    <div class="text-center">
      <div class="d-flex flex flex-row justify-content-center align-items-center">废料回收产出。</div>

      <div class="d-flex flex flex-row justify-content-center">
        <ng-container *ngFor="let item of SPACE_AGE_DATA.recyclerScrapRatio">
          <app-factorio-icon [icon]="dataService.getFactorioIcon(item.iconId, item.count + '%')"></app-factorio-icon>
        </ng-container>
      </div>
    </div>

    <br />

    <table class="table table-sm fixed-width table-hover">
      <caption class="text-center">
        处理废料传送带及其产出所需的回收机数量。
      </caption>
      <thead class="text-center">
        <tr>
          <th>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_Recycler)"></app-factorio-icon>
          </th>
          <th>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_TransportBelt)"></app-factorio-icon>
          </th>
          <th>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_FastTransportBelt)"></app-factorio-icon>
          </th>
          <th>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ExpressTransportBelt)"></app-factorio-icon>
          </th>
          <th>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_TurboTransportBelt)"></app-factorio-icon>
          </th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <td>消耗废料</td>
          <td>6</td>
          <td>12</td>
          <td>18</td>
          <td>24</td>
          <!-- <td *ngFor="let count of sheetData?.recycler_scrap">
            {{ count }}
          </td> -->
        </tr>
        <tr>
          <td>产出物品</td>
          <td>10</td>
          <td>20</td>
          <td>30</td>
          <td>40</td>
          <!-- <td *ngFor="let count of sheetData?.recycler_items">
            {{ count }}
          </td> -->
        </tr>
      </tbody>
    </table>

    <br />

    <div class="text-left">
      <h5 class="h5">在雷电星上获取基础物品</h5>
      <div class="d-flex flex flex-row align-items-center" *ngFor="let resource of SPACE_AGE_DATA.basicResourceConversionIcons">
        <ng-container *ngFor="let items of resource; let last = last">
          <ng-container *ngFor="let item of items; let last = last">
            <app-factorio-icon [icon]="dataService.getFactorioIcon(item)"></app-factorio-icon>
          </ng-container>
          <ng-container *ngIf="!last">
            <i class="fas fa-long-arrow-alt-left text-muted"></i>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <hr />
    <a href="https://files.catbox.moe/cwxfbx.png" target="_blank" rel="noopener noreferrer">
      <img src="https://files.catbox.moe/cwxfbx.png" alt="雷电星指南" title="雷电星指南" />
    </a>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="gleba">
      <a href="https://wiki.factorio.com/Gleba" target="_blank" rel="noopener noreferrer">胶质星</a>
    </h4>
    <h5>星球开局</h5>
    <ul>
      <li>
        推荐携带到胶质星以加快开局的物品：
        <ul>
          <li>
            <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SubmachineGun, '∞')"></app-factorio-icon>
            枪，很多枪。
          </li>
          <li *ngFor="let itemGroup of SPACE_AGE_DATA.bootstrapItemsGleba">
            <ng-container *ngFor="let item of itemGroup">
              <app-factorio-icon [icon]="dataService.getFactorioIcon(item.iconId, '>' + item.count)"></app-factorio-icon>
            </ng-container>
          </li>
        </ul>
      </li>
    </ul>

    <hr />
    <a href="https://files.catbox.moe/h5jm94.png" target="_blank" rel="noopener noreferrer">
      <img src="https://files.catbox.moe/h5jm94.png" alt="胶质星指南" title="胶质星指南" />
    </a>
  </div>

  <hr />
  <div>
    <h4 class="card-title" id="aquilo">
      <a href="https://wiki.factorio.com/Aquilo" target="_blank" rel="noopener noreferrer">冰原星</a>
    </h4>

    <h5>星球开局</h5>
    <ul>
      <li>
        推荐携带到冰原星以加快开局的物品：

        <ul>
          <li *ngFor="let itemGroup of SPACE_AGE_DATA.bootstrapItemsAquilo">
            <ng-container *ngFor="let item of itemGroup">
              <app-factorio-icon [icon]="dataService.getFactorioIcon(item.iconId, '>' + item.count)"></app-factorio-icon>
            </ng-container>
          </li>
        </ul>
      </li>
    </ul>

    <p>建设中...</p>
  </div>
</app-cheat-sheet-template>
