<app-cheat-sheet [cheatSheet]="cheatSheet">
  <ul>
    <li>
      <a href="https://wiki.factorio.com/Research" target="_blank" rel="noopener">研究</a
      >在所需不同科技包数量上是平衡的，因此最优情况下所有科技包应以相同速率生产。
    </li>
    <li>
      <a href="https://wiki.factorio.com/Science_pack" target="_blank" rel="noopener">科技包</a
      >具有不同的制作时间和产出；你需要不同数量的组装机制作每种类型以防止瓶颈。
    </li>
  </ul>

  <div class="text-center">
    <span class="text-muted">均等生产科技包所需的组装机数量（基础游戏）</span>
    <div>
      <app-icon-ratio-composite
        class="d-none d-sm-inline-block"
        [machineIconId]="FactorioIcons.Icons_RocketSilo"
        [productIconId]="FactorioIcons.Icons_SpaceSciencePack"
        [count]="sheetData?.space3?.speed ?? ''"
      ></app-icon-ratio-composite>
      <i class="fas fa-long-arrow-alt-left text-muted d-none d-sm-inline-block" aria-hidden="true"></i>
      <app-factorio-icon
        class="d-none d-md-inline-block"
        [icon]="dataService.getFactorioIcon(sheetData?.assembler3?.iconId, sheetData?.assembler3?.speed)"
      ></app-factorio-icon>
      <i class="fas fa-long-arrow-alt-left text-muted d-none d-md-inline-block" aria-hidden="true"></i>

      <app-icon-ratio-composite
        *ngFor="let pack of sheetData?.packs"
        [machineIconId]="'AssemblingMachineCombined'"
        [productIconId]="pack.iconId"
        [count]="pack?.count"
      ></app-icon-ratio-composite>

      <i class="fas fa-long-arrow-alt-right text-muted d-none d-md-inline-block" aria-hidden="true"></i>
      <app-factorio-icon
        class="d-none d-md-inline-block"
        [icon]="dataService.getFactorioIcon(sheetData?.assembler2?.iconId, sheetData?.assembler2?.speed)"
      ></app-factorio-icon>
      <i class="fas fa-long-arrow-alt-right text-muted d-none d-sm-inline-block" aria-hidden="true"></i>
      <app-icon-ratio-composite
        class="d-none d-sm-inline-block"
        [machineIconId]="FactorioIcons.Icons_RocketSilo"
        [productIconId]="FactorioIcons.Icons_SpaceSciencePack"
        [count]="sheetData?.space2?.speed ?? ''"
      ></app-icon-ratio-composite>
    </div>
  </div>

  <br />
  <ul>
    <li>
      查看
      <a [routerLink]="[]" fragment="common-ratios">各科技包的比例</a>。
    </li>
    <li>
      检查你的
      <a href="{{ scienceRequirementsLink }}" target="_blank" rel="noopener"> 资源需求 </a>
      以保持生产稳定。
    </li>
    <li>使用机械臂在实验室之间移动科技包。</li>
    <li>
      在火箭中发射 1-100 个
      <a href="https://wiki.factorio.com/Space_science_pack" target="_blank" rel="noopener">太空科技包</a>
      会分别给你 1-100 条
      <a href="https://wiki.factorio.com/Raw_fish" target="_blank" rel="noopener">鱼</a>。
    </li>
  </ul>

  <hr />
  <div class="row align-items-center">
    <div class="col-12 col-lg-6">
      <p class="text-center">
        <strong>太空科技（基础游戏）</strong>
      </p>
      <p>要达到每秒 1 个太空科技包，你必须每 16.67 分钟发射一枚携带卫星的火箭。<br /></p>
      <p class="text-center">
        <kbd>火箭发射间隔（分钟）= (1000 科技包 / (组装机速度 * 比例倍数)) * (1分钟/60秒)</kbd>
      </p>
    </div>
    <div class="col-12 col-lg-6">
      <div class="merged-input-group">
        <div class="input-group">
          <span class="input-group-addon">火箭发射间隔</span>
          <input class="form-control" [value]="rocketCalcData.rocketRate | number : '1.0-0'" type="text" readonly />
          <span class="input-group-addon">分钟</span>
        </div>
        <div class="input-group">
          <span class="input-group-addon">每次发射科技包数</span>
          <input
            class="form-control"
            [(ngModel)]="rocketCalcData.sciencePerLaunch"
            (keyup)="onCalcRocketRate()"
            (change)="onCalcRocketRate()"
            type="number"
            min="0"
          />
        </div>
        <div class="input-group">
          <span class="input-group-addon">组装机速度</span>
          <input
            class="form-control"
            [(ngModel)]="rocketCalcData.assemblerSpeed"
            (keyup)="onCalcRocketRate()"
            (change)="onCalcRocketRate()"
            type="number"
            step="0.25"
            min="0"
          />
        </div>
        <div class="input-group">
          <span class="input-group-addon">比例倍数</span>
          <input
            class="form-control"
            [(ngModel)]="rocketCalcData.ratioMultiplier"
            (keyup)="onCalcRocketRate()"
            (change)="onCalcRocketRate()"
            type="number"
            min="0"
          />
        </div>
      </div>
    </div>
  </div>

  <hr />
  <div class="row align-items-center">
    <div class="col-12 col-lg-12">
      <p class="text-center">
        <strong>所需实验室数量和科技包比例计算器</strong>
      </p>
    </div>
  </div>

  <p class="">
    <b>每分钟科技包数</b> - 目标科技包生产速率。 <br />
    <b>研究周期时间</b> - 完成一个研究周期的秒数，对于所有无限科技通常为 60 秒。<br />
    <b>实验室速度</b> - 实验室显示的总速度，包括插件和插件效果分享塔。 -
    <small>默认数值假设为 12 插件效果分享塔设置，研究 60 秒无限科技。</small><br />
    <b>实验室产能加成 %</b> - 实验室显示的产能 +xx% 加成。<br />
  </p>

  <br />
  <p class="text-muted text-center">计算需要多少个实验室才能满足目标每分钟科技包生产速率。</p>
  <div class="row align-items-center">
    <div class="col-12 col-lg-3">
      <div class="eq-container">
        <div class="eq-field bg-neutral">
          <span class="eq-label">所需实验室数</span>
          <input class="eq-input" [value]="calcScience.labsRequired" type="text" readonly />
        </div>
        <div class="eq-operator">=</div>
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="eq-container">
        <div class="eq-field bg-factorio-yellow-muted">
          <span class="eq-label">每分钟科技包数</span>
          <input
            class="eq-input"
            [(ngModel)]="calcScience.packsPerMinute"
            (keyup)="calcScienceNumberOfLabs()"
            (change)="calcScienceNumberOfLabs()"
            type="number"
            min="0"
          />
        </div>
      </div>
      <div class="eq-operator op-divide"></div>
      <div class="eq-container">
        <div class="eq-field">
          <span class="eq-label">秒数</span>
          <input class="eq-input" [value]="60" type="text" readonly min="0" />
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-1">
      <div class="eq-container">
        <div class="eq-field">
          <span class="eq-label">x</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-5">
      <div class="eq-container">
        <div class="eq-field bg-factorio-green">
          <span class="eq-label">研究周期秒数</span>
          <input
            class="eq-input"
            [(ngModel)]="calcScience.researchCycleTime"
            (keyup)="calcScienceNumberOfLabs()"
            (change)="calcScienceNumberOfLabs()"
            type="number"
            min="0"
          />
        </div>
      </div>
      <div class="eq-operator op-divide"></div>
      <div class="eq-container">
        <div class="eq-field bg-factorio-blue">
          <span class="eq-label">实验室速度</span>
          <input
            class="eq-input"
            [(ngModel)]="calcScience.labSpeed"
            (keyup)="calcScienceNumberOfLabs()"
            (change)="calcScienceNumberOfLabs()"
            type="number"
            min="0"
            step="0.1"
          />
        </div>
        <div class="eq-operator">*</div>
        <div class="eq-field bg-factorio-red">
          <span class="eq-label">1 + </span>
          <span class="eq-label">(实验室产能加成 %</span>
          <input
            class="eq-input"
            [(ngModel)]="calcScience.labProductivityBonusPercent"
            (keyup)="calcScienceNumberOfLabs()"
            (change)="calcScienceNumberOfLabs()"
            type="number"
            min="0"
            step="1"
          />
          <span class="eq-label"> / 100)</span>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <div class="text-center">
    <span class="text-muted">一些可用于比例计算的科技包/分钟速率预设</span>
    <br />
    <div class="flex gap-2 items-center justify-center">
      <ng-container *ngFor="let rate of SCIENCE_PACK_RATES_TO_TRY">
        <button class="btn btn-outline-primary" (click)="onChangePacksPerMinute(rate)">{{ rate }}</button>
      </ng-container>
    </div>
  </div>

  <br />
  <br />
  <div class="text-center">
    <!-- <span class="text-muted">Number of factories needed to produce science equally (Least Common Factor)</span>
    <div>
      <ng-container *ngFor="let ratioItem of SCIENCE_PACK_FACTORY_RATIOS_SA">
        <app-icon-ratio-composite
          class="d-inline-block"
          [machineIconId]="ratioItem.factoryIconId"
          [productIconId]="ratioItem.scienceIconId"
          [count]="(ratioItem.machinesNeeded | number : '1.0-2') ?? 0"
          [spaceAge]="ratioItem.factoryIconId !== FactorioIcons.Icons_AssemblingMachine3"
        ></app-icon-ratio-composite>
      </ng-container>
    </div> -->

    <span class="text-muted">
      达到目标速率 {{ calcScience.packsPerMinute }} 科技包/分钟（{{
        calcScience.packsPerMinute / 60 | number : '1.0-2'
      }}
      科技包/秒）所需的工厂数量
      <br />
      更改每分钟科技包数、速度和产能以更新结果
    </span>
    <br />
    <br />

    <div class="flex flex-row" style="gap: 2px; flex-wrap: wrap; justify-content: center">
      <!-- <app-icon-ratio-composite
        class="d-inline-block"
        [machineIconId]="FactorioIcons.Icons_Lab"
        [count]="'~' + (calcScience.labsRequired | number : '1.0-2')"
      ></app-icon-ratio-composite> -->

      <ng-container *ngFor="let ratioItem of SCIENCE_PACK_FACTORY_RATIOS_TARGET_RATE; let i = index">
        <div class="d-inline-block" style="margin-bottom: 5px">
          <app-icon-ratio-composite
            class=""
            [machineIconId]="ratioItem.factoryIconId"
            [productIconId]="ratioItem.scienceIconId"
            [count]="(ratioItem.machinesNeeded | number : '1.0-2') ?? 0"
            [spaceAge]="
              ratioItem.factoryIconId !== FactorioIcons.Icons_AssemblingMachine3 ||
              ratioItem.scienceIconId === FactorioIcons.Icons_SpaceSciencePack
            "
          ></app-icon-ratio-composite>

          <div class="input-group bg-factorio-blue" title="Speed" style="border-radius: 5px">
            <span class="input-group-addon" style="max-width: 40px; width: initial; padding: 1px 5px">
              <i class="fa-solid fa-xs fa-gauge"></i>
            </span>
            <input
              class="form-control"
              [(ngModel)]="sciencePackData[i].factory.speed"
              (change)="onUpdateSciencePackFactory()"
              style="width: 67px; padding: 1px 5px"
              type="number"
              step="0.25"
              min="0"
            />
          </div>
          <div class="input-group bg-factorio-red" title="Productivity Bonus %" style="border-radius: 5px">
            <span class="input-group-addon" style="max-width: 40px; width: initial; padding: 1px 6.5px">
              <!-- <i class="fa-solid fa-xs fa-layer-group"></i> -->
              <i class="fa-solid fa-xs fa-percent"></i>
            </span>
            <input
              class="form-control"
              [(ngModel)]="sciencePackData[i].factory.productivityBonusPercent"
              (change)="onUpdateSciencePackFactory()"
              style="width: 67px; padding: 1px 5px"
              type="number"
              step="1"
              min="0"
            />
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <br />
  <div class="text-center">
    <span class="text-muted">各科技包的有效速率</span>
    <div>
      <ng-container *ngFor="let ratioItem of sciencePackRatios">
        <app-icon-ratio-composite
          class="d-none d-sm-inline-block"
          [machineIconId]="ratioItem.factoryIconId"
          [productIconId]="ratioItem.scienceIconId"
          [count]="''"
          [rateSeconds]="ratioItem.effectiveRate"
          [spaceAge]="
            ratioItem.factoryIconId !== FactorioIcons.Icons_AssemblingMachine3 ||
            ratioItem.scienceIconId === FactorioIcons.Icons_SpaceSciencePack
          "
        ></app-icon-ratio-composite>
      </ng-container>
    </div>
  </div>
</app-cheat-sheet>
