<app-cheat-sheet [cheatSheet]="cheatSheet">
  <p>
    <strong><a href="https://wiki.factorio.com/Inserters#Inserter_Throughput" target="_blank" rel="noopener">机械臂吞吐量</a></strong> -
    机械臂在目标（箱子、传送带、组装机、火车等）之间移动的物品数/秒（i/s）
    <br />
    <strong><a href="https://wiki.factorio.com/Inserter_capacity_bonus_(research)" target="_blank" rel="noopener">机械臂容量研究</a></strong
    >用于提升吞吐量。
  </p>
  <p>
    下表中显示的机械臂吞吐量可用于计算任务所需的精确机械臂数量。
    <br />
    <kbd>所需机械臂数 = (目标物品速率) / (机械臂吞吐量)</kbd>
  </p>

  <table class="table table-sm table-hover fixed-width">
    <caption class="text-center">
      机械臂吞吐量
      <span class="d-inline-block d-sm-none">(物品/秒)</span>

      <div class="input-group d-none-print fixed-width">
        <span class="input-group-addon">机械臂加成等级</span>
        <select class="form-select" [(ngModel)]="bonusLevel" (ngModelChange)="updateTable()" type="number">
          <option *ngFor="let level of bonusLevels" [ngValue]="level">
            {{ level }}
          </option>
        </select>
      </div>
    </caption>
    <thead class="text-center">
      <tr>
        <th></th>
        <th>堆叠大小</th>
        <th>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SteelChest)"></app-factorio-icon>
          <i class="fas fa-long-arrow-alt-right text-muted d-none d-md-inline-block" aria-hidden="true"></i>
          <i class="fa fa-long-arrow-down text-muted d-inline-block d-md-none" aria-hidden="true"></i>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SteelChest)"></app-factorio-icon>
        </th>
        <th>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SteelChest)"></app-factorio-icon>
          <i class="fas fa-long-arrow-alt-right text-muted d-none d-md-inline-block" aria-hidden="true"></i>
          <i class="fa fa-long-arrow-down text-muted d-inline-block d-md-none" aria-hidden="true"></i>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_TransportBelt)"></app-factorio-icon>
        </th>
        <th>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SteelChest)"></app-factorio-icon>
          <i class="fas fa-long-arrow-alt-right text-muted d-none d-md-inline-block" aria-hidden="true"></i>
          <i class="fa fa-long-arrow-down text-muted d-inline-block d-md-none" aria-hidden="true"></i>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_FastTransportBelt)"></app-factorio-icon>
        </th>
        <th>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_SteelChest)"></app-factorio-icon>
          <i class="fas fa-long-arrow-alt-right text-muted d-none d-md-inline-block" aria-hidden="true"></i>
          <i class="fa fa-long-arrow-down text-muted d-inline-block d-md-none" aria-hidden="true"></i>
          <app-factorio-icon [icon]="dataService.getFactorioIcon(FactorioIcons.Icons_ExpressTransportBelt)"></app-factorio-icon>
        </th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let item of tableData">
        <td>
          <app-factorio-icon *ngFor="let iconId of item.icons" [icon]="dataService.getFactorioIcon(iconId)"></app-factorio-icon>
        </td>
        <td>
          <strong>{{ item.stackSize }}</strong>
        </td>
        <td>
          {{ item.chestToChest | number : '1.2-2' }}
          <span class="d-none d-sm-inline-block">i/s</span>
        </td>
        <td>
          {{ item.chestToYellowBelt | number : '1.2-2' }}
          <span class="d-none d-sm-inline-block">i/s</span>
        </td>
        <td>
          {{ item.chestToRedBelt | number : '1.2-2' }}
          <span class="d-none d-sm-inline-block">i/s</span>
        </td>
        <td>
          {{ item.chestToBlueBelt | number : '1.2-2' }}
          <span class="d-none d-sm-inline-block">i/s</span>
        </td>
      </tr>
    </tbody>
  </table>

  <br />

  <ul>
    <li>从传送带取物品比放置物品略慢。</li>
    <li>需要 1.625 个堆叠机械臂（不包括摆动时间）才能填满半条蓝色传送带。</li>
    <li>
      一如既往地查看
      <a href="https://wiki.factorio.com/Inserters#Inserter_Throughput" target="_blank" rel="noopener">Wiki</a>
      以获取更深入的信息。
    </li>
  </ul>
</app-cheat-sheet>
